{% extends "layout.html" %}

{% block title %}
    Journal Transactions
{% endblock %}

{% block main %}
    <h3>Journal Transactions</h3>
    <h6>Group username: <b>{{ ids[0] }}</b></h6>
    <h6>Logged in as: <b>{{ ids[1] }}</b></h6>
    <h6>User type: <b>{{ ids[2] }}</b></h6>
    <br>
    <br>
    <h6>List of Transactions Done Not Journaled Yet</h6>
    <form action="/journal" method="post">
        <table class="table text-center table-striped">
            <thead>
                <tr>
                    <th scope="col">Transaction ID</th>
                    <th scope="col">Debit Company</th>
                    <th scope="col">Debit Account</th>
                    <th scope="col">Credit Company</th>
                    <th scope="col">Credit Account</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Detailed Information</th>
                </tr>
            </thead>
            <tbody>
                {% for row in trx %}
                        <tr>
                            <td>
                                <input name = "trx_" class="form-check-input" type="checkbox" value="{{ row["trx_id"] }}">
                                <label class="form-check-label" for="trx_">TRX-{{ row["trx_id"] }}</label>
                            </td>
                            <td>{{ row["debit_com"] }}</td>
                            <td>{{ row["debit_acc"] }}</td>
                            <td>{{ row["credit_com"] }}</td>
                            <td>{{ row["credit_acc"] }}</td>
                            <td>{{ "{:,.0f}".format(row["value"]) }}</td>
                            <td><b>{{ row["notes"] }}</b></td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <button id="button" class="btn btn-primary" type="submit">Do Journal Transaction</button>
        </div>
    </form>
    <br>
    <br>
    <h6>List of Transactions Journaled</h6>
    <table class="table text-center table-striped">
        <thead>
            <tr>
                <th scope="col">Transaction ID</th>
                <th scope="col">Journal Date</th>
                <th scope="col">Debit Company</th>
                <th scope="col">Debit Account</th>
                <th scope="col">Credit Company</th>
                <th scope="col">Credit Account</th>
                <th scope="col">Amount</th>
                <th scope="col">Detailed Information</th>
                <th scope="col">Journaler</th>
            </tr>
        </thead>
        <tbody>
            {% for row in trx2 %}
                    <tr>
                        <td>TRX-{{ row["trx_id"] }}</td>
                        <td>{{ row["journaled_date"] }}</td>
                        <td>{{ row["debit_com"] }}</td>
                        <td>{{ row["debit_acc"] }}</td>
                        <td>{{ row["credit_com"] }}</td>
                        <td>{{ row["credit_acc"] }}</td>
                        <td>{{ "{:,.0f}".format(row["value"]) }}</td>
                        <td><b>{{ row["notes"] }}</b></td>
                        <td>{{ row["journaler"] }}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}